<!-- src/app/features/auth/register-candidat/register-candidat.component.html -->
<div class="container col-md-4">
  <h2 class="text-center my-4">Inscription Candidat</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom</label>
      <input id="prenom" name="prenom" type="text"
             class="form-control"
             [(ngModel)]="candidat.prenom" name="prenom" required />
    </div>
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input id="nom" name="nom" type="text"
             class="form-control"
             [(ngModel)]="candidat.nom" name="nom" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input id="email" name="email" type="email"
             class="form-control"
             [(ngModel)]="candidat.email" name="email" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input id="password" name="password" type="password"
             class="form-control"
             [(ngModel)]="password" name="password" required minlength="6" />
    </div>
    <button type="submit" class="btn btn-success w-100" [disabled]="loading">
      {{ loading ? 'Enregistrement...' : 'S’inscrire' }}
    </button>
  </form>
  <div class="mt-3 text-center">
    <a routerLink="/auth/login">Déjà inscrit ? Se connecter</a>
  </div>
</div>
