<div>
  <h2>Mon Tableau de Bord Candidat</h2>
  <p>Bienvenue, {{ vm.username }} !</p>
  <h3>Mes candidatures</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Offre</th>
        <th>Date de candidature</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in vm.candidatures">
        <td>{{ c.offreTitre }}</td>
        <td>{{ c.dateCandidature }}</td>
        <td>{{ c.statut }}</td>
      </tr>
      <tr ng-if="!vm.candidatures.length">
        <td colspan="3" class="text-center">Vous n'avez pas encore de candidatures.</td>
      </tr>
    </tbody>
  </table>
</div>
